#unibrowContainer {
  -moz-box-orient: horizontal;
  background-color: transparent;
  -moz-appearance: -moz-win-borderless-glass;
  background-image: -moz-linear-gradient(top,
                                         -moz-dialog,
                                         transparent 400px),
                    url("chrome://mozapps/skin/extensions/background-texture.png");
}

#conversations .tabbrowser-strip {
  visibility: collapse;
}

#unibrowList {
  -moz-binding: url(chrome://unibrow/content/bindings/window-list.xml#list);
  width: 150px;
  -moz-appearance: none;
  background: transparent;
  margin-right: 0;
}

#unibrowList richlistitem {
  border: 1px solid transparent;
  width: 0;
}

#unibrowList richlistitem[selected] {
  background-color: rgba(255, 255, 255, 0.75);
  border-color: rgb(195, 206, 223);
  -moz-border-end-color: transparent;
  color: rgb(37, 47, 59);
  font-weight: bold;
}

#unibrowList richlistitem:not([closebutton="false"]) .tab-close-button {
  display: -moz-box;
  -moz-margin-end: 3px;
  -moz-binding: url(chrome://unibrow/content/bindings/window-list.xml#closebutton);
}

richlistitem[selected]:-moz-locale-dir(ltr) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

richlistitem[selected]:-moz-locale-dir(rtl) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#unibrowList richlistitem[for] {
  -moz-binding: url(chrome://unibrow/content/bindings/window-list.xml#singletonTab);
}
#unibrowList richlistitem[linkedpanel] {
  -moz-binding: url(chrome://unibrow/content/bindings/window-list.xml#conversationTab);
}

#unibrowSplitter {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,
                                         transparent,
                                         -moz-dialog,
                                         transparent);
}
#unibrowSplitter grippy:-moz-locale-dir(ltr):hover,
#unibrowSplitter[state="collapsed"] grippy:-moz-locale-dir(rtl):hover {
  background-color: transparent;
  background-image: url("chrome://global/skin/splitter/grip-left.gif"),
                    -moz-linear-gradient(top,
                                         transparent,
                                         -moz-dialog 20%,
                                         -moz-dialog 80%,
                                         transparent);
}
#unibrowSplitter grippy:-moz-locale-dir(rtl):hover,
#unibrowSplitter[state="collapsed"] grippy:-moz-locale-dir(ltr):hover {
  background-color: transparent;
  background-image: url("chrome://global/skin/splitter/grip-right.gif"),
                    -moz-linear-gradient(top,
                                         transparent,
                                         -moz-dialog 20%,
                                         -moz-dialog 80%,
                                         transparent);
}

#conversations {
  -moz-binding: url("chrome://unibrow/content/bindings/conversations.xml#conversations");
}

#conversations .tabbrowser-tabs {
  -moz-binding: url("chrome://unibrow/content/bindings/conversations.xml#tabstrip");
}
